
@{
    ViewBag.Title = "MyAccount";
}

<h2>My Account</h2>

<div>

    <a class="btn btn-full" href="@Url.Action("ActiveBookings", "Customer")">My Active Bookings</a>

    <a class="btn btn-full" href="@Url.Action("PastBookings", "Customer")">My Past Bookings</a>

</div>