
@{
    ViewBag.Title = "CheckAvalability";
}
    <head>

        <script src="js/modernizr.custom.63321.js"></script>
    </head>

<body>

    <h2>CheckAvalability</h2>

    <script src="~/Scripts/jquery.calendario.js"></script>

    <div id="calendar" class="fc-calendar-container"></div>

    <script type="text/javascript">
        $(function () {
            $('#calendar').calendario();
        }
    </script>

</body>

<footer>

</footer>

