
@{
    ViewBag.Title = "AdminPage";
}

<h2>Admin Page</h2>

<div>

    <a class="btn btn-full" href="@Url.Action("ActiveBookings", "Admin")">All Active Bookings</a>

    <a class="btn btn-full" href="@Url.Action("PastBookings", "Admin")">All Past Bookings</a>

</div>